body {font-family: sans-serif;}

h1, h2 {
color: gray;
}

h1 {
border-bottom: 1px solid black;
}

p {color: red; }

/*ебучие комменты в CSS
и даже в несколько строк */

/*ещё один комент для проверки git*/

p.raspberry {color:blue;}
p.blueberry {color:purple;}
.greentea {color:green;}
